mainmenu "Lanthorn Configuration"

config SRCARCH
	string
	option env="SRCARCH"
source "arch/$SRCARCH/Kconfig"

config DEBUG_INFO
	bool "Compile the application with debug info"
	default y

config NR_BUDDY_ORDER
	int
	default 21

config NR_BUDDY_CACHE_PG
	int
	default 128